<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>38940543025-ebt02bste7v3cauhn5uv4dtbe758bj90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38940543025-ebt02bste7v3cauhn5uv4dtbe758bj90</string>
	<key>API_KEY</key>
	<string>AIzaSyARN6yu4YzyMksnHDWf-F3PIKnIzSBvBsg</string>
	<key>GCM_SENDER_ID</key>
	<string>38940543025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swap.Swap-design</string>
	<key>PROJECT_ID</key>
	<string>swap-44446</string>
	<key>STORAGE_BUCKET</key>
	<string>swap-44446.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38940543025:ios:28d1e53550cec352</string>
	<key>DATABASE_URL</key>
	<string>https://swap-44446.firebaseio.com</string>
</dict>
</plist>